# Ignore a bunch of stuff so that we can simply copy our I7 directory into the repository
*~
*.blurb
*Build
*.DS_Store
*.glk*
*.iFiction
*Index
*manifest.plist
*Release
*Reserved
*.rtf
*.skein
*.tiff
*Settings.plist
*Inform\ Map.eps